### KNN 연습
- KNN 으로 붓꽃 분류하기
- UCI 데이터셋 다운로드
- pandas 로 읽기
- 입력(X:꽃잎과 꽃받침의 길이, 너비)과 출력(Y:품종) 분리
- 150개의 인스턴스(샘플, ROW)을 학습용(75%)와 테스트용(25%)로 분리
- 모델을 선정: KNN, k = 3 ~ 5 (일반적) (테스트를 통해 최종값 선정)
- 목표 : 테스트 샘플의 분류 정확도를 높이기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('iris.data', header=None)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
0    150 non-null float64
1    150 non-null float64
2    150 non-null float64
3    150 non-null float64
4    150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x = df.iloc[:, :4] # 붓꽃의 정보
y = df.iloc[:, -1] # 붓꽃의 종류
x.columns = ['꽃받침 길이', '꽃받침 너비', '꽃잎 길이', '꽃잎 너비']

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)
x_train.shape, x_test.shape

((112, 4), (38, 4))

In [12]:
from sklearn.neighbors import KNeighborsClassifier

In [17]:
knn = KNeighborsClassifier(3)
knn.fit(x_train, y_train) # 모델 최적화(Fitting)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [18]:
knn.predict(x_test) # 예측하기

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa'], dtype=object)

In [19]:
knn.score(x_train, y_train), knn.score(x_test, y_test)

(0.9464285714285714, 1.0)

### 다음 코스피200

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df = pd.read_html('코스피200 _ 다음 금융.html', encoding='cp949', index_col=0)
len(df)

3

In [28]:
df[1].head()

              종가    전일비     등락률    거래량     거래대금  개인(억)  외국인(억)  기관(억)
일자
19.07.02  276.84  ▼0.43  -0.16%  22559   825303    318      84   -382
19.07.01  277.27  ▼0.23  -0.08%  74357  3446049   -214    1286    365
19.06.28  277.50  ▼0.25  -0.09%  67598  2879563  -1802    3011  -1189
19.06.27  277.75  ▲2.22  +0.81%  66303  3357666  -4165    1837   2415
19.06.26  275.53  ▲0.25  +0.09%  58818  2636531   -712     157    557

In [29]:
df[1].info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null object
등락률       10 non-null object
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 720.0+ bytes

In [53]:
# 전일비, 등락률의 특수문자를 삭제하고 실수로 변환한다.
days = df[1].replace('▼', '', regex=True).replace('▲', '', regex=True).replace('%', '', regex=True)
days['전일비'] = days['전일비'].astype('float32')
days['등락률'] = days['등락률'].astype('float32')
days.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 19.07.02 to 19.06.19
Data columns (total 8 columns):
종가        10 non-null float64
전일비       10 non-null float32
등락률       10 non-null float32
거래량       10 non-null int64
거래대금      10 non-null int64
개인(억)     10 non-null int64
외국인(억)    10 non-null int64
기관(억)     10 non-null int64
dtypes: float32(2), float64(1), int64(5)
memory usage: 640.0+ bytes

In [50]:
# X 로 쓰는 이유는 소문자 x 는 Elements 를 나타낼때 쓰기 때문
X = days.iloc[:, 1:-1]
y = days['종가']
X.shape, y.shape

((10, 6), (10,))

In [59]:
# 상수보다는 변수를 쓰자. 향후 변경이 용이하다.
offset = 8
X_train = X[-offset:]
X_test = X[:-offset]
y_train = y[-offset:]
y_test = y[:-offset]

In [60]:
from sklearn.neighbors import KNeighborsRegressor

In [64]:
knn = KNeighborsRegressor(n_neighbors=1) # 클래스의 instance 생성 문법
knn.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=1, p=2,
          weights='uniform')

In [65]:
knn.predict(X_test)

array([275.58, 277.75])

In [67]:
# p71 결정 계수 : R^2
knn.score(X_train, y_train) # train set 에 k=1 이므로 당연히 100%

1.0

In [68]:
# 0에 가까울수록 좋음 값, 1이나 음수로 가면 부정확하다.
knn.score(X_test, y_test)

-18.66468361276297

### score 의 결과 : classification 은 정확도를 Regression 은 결정 계수(R^2)를 표시한다.